@font-face 
{
    font-family: "paragraph";
    src:url(../font/Arimo/Arimo-Regular.ttf);
}
@font-face 
{
    font-family: "brand";
    src:url(../font/Homenaje/Homenaje-Regular.ttf);
}

body
{
	background-color:#FAFAFA;
}
p
{
	font-family: "paragraph";
}
::selection {
  background: #FF7043; /* WebKit/Blink Browsers */
  color: white;
}
::-moz-selection {
  background: #FF7043; /* FF3.6+ */
  color: white;
}
::-o-selection {
  background: #FF7043; /* Opera 11.10+ */
  color: white;
}
::-ms-selection {
  background: #FF7043;  /* IE10+ */
  color: white;
}
.navbar-default .navbar-toggle
{
	border-color: none;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a
{
	text-shadow: none;
}
.navbar-inverse
{
	background-image: none;
	background: #00acc1; /* Old browsers */
	background: -moz-linear-gradient(top,  #008BA3 0%, #00a2b5 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#008BA3), color-stop(99%,#00a2b5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #008BA3 0%,#00a2b5 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #008BA3 0%,#00a2b5 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #008BA3 0%,#00a2b5 99%); /* IE10+ */
	background: linear-gradient(to bottom,  #008BA3 0%,#00a2b5 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00acc1', endColorstr='#00a2b5',GradientType=0 ); /* IE6-9 */

	border-color:#FF5722;
}
.navbar-inverse .navbar-nav>li>a
{
	color:#FAFAFA;
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus
{
	background-color: rgba(51, 51, 51, 0.11);
	color: #FAFAFA;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus
{
	background-image: none;
	background-color: #00636F;
	color: #FAFAFA;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus
{
	background-color: rgba(51, 51, 51, 0.11);
	color: #FAFAFA;
}
.btn-default,.btn-info,.btn-warning,.btn-danger,.btn-primary,.btn-success
{
	background-image: none;
	box-shadow:none;
}
.btn-default
{
	background-color: #EEEEEE;
}
.btn-default:hover, .btn-default:focus
{
	background-color: #E0E0E0;
}
.btn-primary
{
	background-color: #4FC3F7;
	border-color:transparent;
}
.btn-primary:hover, .btn-primary:focus
{
	background-color: #2196F3;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary
{
	background-color: #2196F3;
	border-color:transparent;
}

.btn-info
{
	background-color: #00ACC1;
	border-color:transparent;
}
.btn-info:hover, .btn-info:focus
{
	background-color: #00838F;
}


.btn-danger
{
	background-color: #d32f2f;
	border-color:transparent;
}


.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus
{
	z-index: 2;
	color: #fff;
	background-color: #00ACC1;
	border-color: transparent;
	cursor: default;
}
select[multiple], select[size]
{
	min-height: 35px;
}
.dataTables_wrapper select
{
	min-width: 100px;
	border: 1px solid #00ACC1;
	border-radius: 3px
}
.dataTables_filter input[type="text"]
{
	height: 35px;
	min-width: 200px;
	border: 1px solid #00ACC1;
	border-radius: 3px
}
.form-control:focus
{
	border-color: #00ACC1;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0, 172, 193, .6); 
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0, 172, 193, .6);

}
@media (min-width: 768px){
	.sidebar-wrapper {
		width: 250px;
	}
}
#sidebar-wrapper {
	z-index: 1000;
	position: fixed;
	left: 250px;
	width: 250px;
	height: 100%;
	margin-left: -250px;
	overflow-y: auto;
	background: #212121;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#sidebar-wrapper > ul >li:hover
{
	background-color: #FF7043;
	color: #FAFAFA;
}
.sidebar-nav {
	position: absolute;
	top: 0;
	width: 250px;
	margin: 0;
	padding: 0;
	list-style: none;
}
.sidebar-nav li a {
	display: block;
	text-decoration: none;
	color: #FAFAFA;
}
.sidebar-nav > .sidebar-brand {
	height: 65px;
	font-size: 18px;
	line-height: 60px;
}
.sidebar-nav li {
	text-indent: 20px;
	line-height: 40px;
}

.dropdown-menu li a
{
	color:black;
}

.alert-danger 
{
	background-image: none; 
	background-color: #FDECE7;
	border-color: #ebccd1;
	color: #BB0000;
}

.alert-info 
{
	background-image: none;
	background-color: #EDF9FF;
	border-color: #bce8f1;
	color: #31708f;
}

.alert-warning 
{
	background-image: none;
	background-color: #FFFEF7;
	border-color: #faebcc;
	color: #8a6d3b;
}

.alert-success 
{
	background-image: none;
	background-color: #EAFDE2;
	border-color: #d6e9c6;
	color: #3c763d;
}
.footer 
{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px; /* default: 60px */
  background-color: #EAEAEA;
}
.container .text-muted 
{
  margin: 12px 0; /* default: 20px 0 */
}
.navbar-inverse .navbar-brand
{
	color: #FFF;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form
{
  border-color: rgba(255, 255, 255, 0.28);
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus
{
  background-color: #00636F;
}

/* Login View */
.form-signin {
	max-width: 400px; 
	display:block;
	background-color: #f7f7f7;
	-moz-box-shadow: 0 0 3px 1px #888;
	-webkit-box-shadow: 0 0 3px 1px #888;
	box-shadow: 0 0 3px 1px #888;
	border-radius:2px;
	margin: 60px auto;
}
.main{
	padding: 38px;
}
.social-box{
  margin: 0 auto;
  padding: 38px;
  border-bottom:1px #ccc solid;
}
.social-box a i{
  font-weight:bold;
  font-size:20px;
}
.heading-desc{
	font-size:20px;
	font-weight:bold;
	padding:38px 38px 0px 38px;
	
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: 40px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: 10px;
  border-radius: 5px;
  
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-radius: 5px;
}
.login-footer{
	background:#f0f0f0;
	margin: 0 auto;
	border-top: 1px solid #dadada;
	padding:20px;
}
.login-footer .left-section a{
	font-weight:bold;
	color:#8a8a8a;
	line-height:19px;
}
.mg-btm{
	margin-bottom:5px;
}

/* Signup View */

.form-signup {
  max-width: 800px;
  display: block;
  background-color: #f7f7f7;
  -moz-box-shadow: 0 0 3px 1px #888;
  -webkit-box-shadow: 0 0 3px 1px #888;
  box-shadow: 0 0 3px 1px #888;
  border-radius: 2px;
  margin: 60px auto;
}

.signup-footer{
	background:#f0f0f0;
	margin: 0 auto;
	border-top: 1px solid #dadada;
	 padding: 20px 20px 55px;
}