.table>caption+thead>tr:first-child>th, .table>caption+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>thead:first-child>tr:first-child>th, .table>thead:first-child>tr:first-child>td
{
	padding: 7px;
	text-align: left;
}
.panel-heading
{
	border-top-left-radius: 0px; 
	border-top-right-radius: 0px; 
}
.ui-select
{
	margin: 0px;
}
.ui-select>select
{
	z-index: 1;
}
ul.alert > li
{
	margin-left: 15px
}
.devicetype.ui-select > select 
{
	min-width: 0;
	width: 100%;
	padding: 5px 15px 5px 10px;
}
.devicetype.ui-select 
{
	margin: 0px;
	width: 50px;
	display: -webkit-inline-box;
	margin-right: 10px;
}
.file-preview-frame
{
	min-width: 100%;
	margin: 0px;
}
.file-drop-zone-title
{
	font-size: 20px;
}
button.kv-file-upload.btn.btn-xs.btn-default, .file-upload-indicator
{
	display: none;
}
.monitor:hover
{
	border: 1px solid #31c0be;
	box-shadow: 0px 0px 7px -2px;
	-moz-box-shadow: 0px 0px 7px -2px;
	-webkit-box-shadow: 0px 0px 7px -2px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
	cursor: pointer;
}
.icon-router
{
	color: #00D372;
}
.icon-router:hover
{
	cursor: pointer;
	color: #1C74D8;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.iconRouter 
{
	position: absolute;
}
.del-router
{
	position: absolute;
}
#monitor
{
	position: relative;
}
#monitor > div
{
	position: absolute;
}
/* Add any vendor prefixes you need */
.my-animation.ng-enter {
  -webkit-animation: flipInY 1s;
  -moz-animation: flipInY 1s;
  animation: flipInY 1s;
}

.my-animation.ng-leave {
  -webkit-animation: flipOutY 1s;
  -moz-animation: flipOutY 1s;
  animation: flipOutY 1s;
}